* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: larger;
    font-weight: bold;
}

body {
    background: #000;
    color: #A0ACAD;
    display: grid;
    grid-template-columns: 200px 1fr;
    /* 1a coluna com largura 200px, 2a coluna com largura 1 fração do espaço disponível, 3a coluna com largura 200px*/
    grid-template-areas: 'header header' 'aside main' 'footer footer';
}

header {
    background-color: #000;
    padding: 10px;
    height: 15vh;
    display: flex;
    grid-area: header;
}

main {
    background-color: #A0ACAD;
    background-color: #f7cf18;
    color: #33032f;
    padding: 10px;
    height: 75vh;
    grid-area: main;
}

aside {
    background-color: #531253;
    background-color: #000;
    padding: 10px;
    grid-area: aside;
}

aside h2 {
    font-size: 1.2rem;
    text-align: center;
    padding: 20px 10px;
    color: #FFF;
}

div {
    padding: 10px;
    grid-area: links;
}

.rodape {
    background-color: #000;
    padding: 10px;
    height: 10vh;
    grid-area: footer;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    color: #FFF;
    text-shadow: 0px 2px 10px #FFF;
    font-size: 3rem;
}

ul {
    list-style-type: none;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    border: 1px solid;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #FFF;
}

.link-especial {
    margin-left: auto;
}

li {
    border: 0px solid #FFF;
    background: #eee
}

li:hover {
    border-left: 0px solid Blue;
    border-bottom: 0px solid Blue;
    border-radius: 5px;
    background: #ccc
}

li a {
    text-decoration: none;
    color: black;
    text-align: center;
    display: block;
    padding: 14px 16px;
    border-bottom: 1px solid #FFF;
    color: #f7cf18;
    font-size: 1rem;
}

li a:hover {
    border-bottom: 1px solid #f7cf18;
    border-radius: 5px;
}

section.container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.item {
    background-color: aliceblue;
    background: url('../img/Autumn-Leaves.jpg');
    background-size: cover;
    height: 300px;
    color: #000;
    text-shadow: 1px 1px 5px #000;
    font-weight: 700;
    text-align: center;
    border-radius: 5px;
    border: 2px black solid;
    border: 1px solid #000;
    box-shadow: 0px 0px 5px #fff;
    /* um item flex também pode ser configurado como container flex*/
    display: flex;
    align-items: center;
    justify-content: center;
    /* configurações do item flex - filha da classe flex-container */
    /* tamanho base */
    /* flex-basis: 250px; */
    /* flex-shrink: 1; */
    /* abreviação flex: grow shrink basis*/
    flex: 0 0 200px;
}

.item h2 {
    font-size: 2rem;
}

.item h2:hover {
    color: #f7cf18;
}

.item:hover {
    border: 1px solid #adadad;
    box-shadow: 0px 0px 10px #fff;
    color: #f7cf18;
    cursor: pointer;
}

.img1 {
    background: url('../img/Azul.jpg');
    background-size: cover;
}

.img2 {
    background: url('../img/dream-village-house.jpg');
    background-size: cover;
}

.img3 {
    background: url('../img/Iceberg.jpg');
    background-size: cover;
}

.img4 {
    background: url('../img/img16.jpg');
    background-size: cover;
}

.img5 {
    background: url('../img/img17.jpg');
    background-size: cover;
}

.img6 {
    background: url('../img/img18.jpg');
    background-size: cover;
}